In [1]:
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
import seaborn as sns
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score,roc_curve
from sklearn.neighbors import KNeighborsClassifier

In [26]:
data = pd.read_csv('custom.csv')
data.head()
data1 = load_iris()
data.head()
data1 = pd.DataFrame(data1.data, columns=data1.feature_names)
data.head(10)

   Height  Weight    Sports
0     172      68   Cricket
1     174      65   Cricket
2     176      67   Cricket
3     177      67   Cricket
4     175      68   Cricket
5     165      62  Football
6     162      60  Football
7     167      61  Football
8     165      57  Football
9     166      60  Football

In [9]:
def KNN(xt,yt,xTest,k):
    y_pre=[]
    for s in xTest:
        distances=[np.linalg.norm(np.array(s)-np.array(xts)) for xts in xt]
        v=np.argsort(distances)[:k]
        vc=[yt[i] for i in v]
        vr=Counter(vc).most_common()[0][0]
        y_pre.append(vr)
    return np.array(y_pre)

In [44]:
def KNN(data, new_sample, k):
    dis = []

    # Calculate Euclidean distance for each person
    for _, person in data.iterrows():
        ecd = np.linalg.norm(np.array([person.Height, person.Weight]) - np.array(new_sample))
        dis.append([ecd, person.Sports])
    
    # Sort by distance and select top k
    dis = sorted(dis)[:k]
    votes = [vote[1] for vote in dis]

    # Get the most common class
    result = Counter(votes).most_common(1)[0][0]
    print("The person plays:", result)

    # Plotting
    #sns.scatterplot(data=data, x="Height", y="Weight", hue="Sports", s=100)
    #plt.scatter(x=new_sample[0], y=new_sample[1], marker="*", s=200, c='black', label="New Sample")
    #plt.legend()
    #plt.title("KNN Classification")
   # plt.show()

In [51]:
from sklearn.datasets import load_breast_cancer
data1 = load_breast_cancer()

In [52]:
data1 = pd.DataFrame(data1.data, columns=data1.feature_names)
sCol=['mean radius','mean texture']
data1y=data1[sCol]
print(data1y.head())

   mean radius  mean texture
0        17.99         10.38
1        20.57         17.77
2        19.69         21.25
3        11.42         20.38
4        20.29         14.34